cache=C:\Users\ABlack\CascadeProjects\digidex\npm-test\.npm-cache
tmp=C:\Users\ABlack\CascadeProjects\digidex\npm-test\.npm-tmp
package-lock=false
audit=false
fund=false
update-notifier=false
scripts-prepend-node-path=true
loglevel=verbose
